/*
 *  JOMC586 Assignment 3: Dynamic Data Dashboard
 *  Behind the Bars
 *  Nick Shchetko
*/

/* FONTS */
/* Fonts don't work in Firefox because of the security issues; workaround with dowloading the fonts to local
   server didn't work because of the possible copyright issues */

@font-face{
	font-family:"BigFiggins";
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Big-Figgins-Italic/e7567fb7-058c-47ff-932f-e5b4f03506f0-2.eot");
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Big-Figgins-Italic/e7567fb7-058c-47ff-932f-e5b4f03506f0-2.eot?") format("embedded-opentype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Big-Figgins-Italic/e7567fb7-058c-47ff-932f-e5b4f03506f0-3.woff") format("woff"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Big-Figgins-Italic/e7567fb7-058c-47ff-932f-e5b4f03506f0-1.ttf") format("truetype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Big-Figgins-Italic/e7567fb7-058c-47ff-932f-e5b4f03506f0-4.svg#web") format("svg");
	font-style:italic;
	font-weight:normal;
}

@font-face{
	font-family:"FranklinITCProBold";
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-2.eot");
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-2.eot?") format("embedded-opentype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-3.woff") format("woff"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-1.ttf") format("truetype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-4.svg#web") format("svg");
	font-style:normal;
	font-weight:normal;
}


@font-face{
	font-family:"FranklinITCProLight";
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-2.eot");
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-2.eot?") format("embedded-opentype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-3.woff") format("woff"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-1.ttf") format("truetype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-4.svg#web") format("svg");
	font-style:normal;
	font-weight:normal;
}

@font-face{
	font-family:"FranklinITCProThin";
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-2.eot");
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-2.eot?") format("embedded-opentype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-3.woff") format("woff"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-1.ttf") format("truetype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-4.svg#web") format("svg");
	font-style:normal;
	font-weight:normal;
}

@font-face{
	font-family:"Postoni";
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Bold/ae85c150-67a4-4410-9170-d5dfd62440d9-2.eot");
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Bold/ae85c150-67a4-4410-9170-d5dfd62440d9-2.eot?") format("embedded-opentype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Bold/ae85c150-67a4-4410-9170-d5dfd62440d9-3.woff") format("woff"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Bold/ae85c150-67a4-4410-9170-d5dfd62440d9-1.ttf") format("truetype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Bold/ae85c150-67a4-4410-9170-d5dfd62440d9-4.svg#web") format("svg");
	font-style:normal;
	font-weight:bold;
}

@font-face{
	font-family:"PostoniDisplay";
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular/8552d5f6-9170-4b2a-a67f-3b99a8e89257-2.eot");
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular/8552d5f6-9170-4b2a-a67f-3b99a8e89257-2.eot?") format("embedded-opentype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular/8552d5f6-9170-4b2a-a67f-3b99a8e89257-3.woff") format("woff"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular/8552d5f6-9170-4b2a-a67f-3b99a8e89257-1.ttf") format("truetype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular/8552d5f6-9170-4b2a-a67f-3b99a8e89257-4.svg#web") format("svg");
	font-style:normal;
	font-weight:normal;
}

@font-face{
	font-family:"PostoniDisplay";
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular-Italic/7919ec17-8fb0-431f-b9b2-89f85748753b-2.eot");
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular-Italic/7919ec17-8fb0-431f-b9b2-89f85748753b-2.eot?") format("embedded-opentype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular-Italic/7919ec17-8fb0-431f-b9b2-89f85748753b-3.woff") format("woff"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular-Italic/7919ec17-8fb0-431f-b9b2-89f85748753b-1.ttf") format("truetype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Display-Regular-Italic/7919ec17-8fb0-431f-b9b2-89f85748753b-4.svg#web") format("svg");
	font-style:italic;
	font-weight:normal;
}

@font-face{
	font-family:"PostoniTitling";
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Titling-Regular/20e09141-0a13-4cdd-88f1-446c5c6eb4f4-2.eot");
	src:url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Titling-Regular/20e09141-0a13-4cdd-88f1-446c5c6eb4f4-2.eot?") format("embedded-opentype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Titling-Regular/20e09141-0a13-4cdd-88f1-446c5c6eb4f4-3.woff") format("woff"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Titling-Regular/20e09141-0a13-4cdd-88f1-446c5c6eb4f4-1.ttf") format("truetype"),url("http://ec2-50-16-45-43.compute-1.amazonaws.com/assets/fonts/webtype/Postoni-Titling-Regular/20e09141-0a13-4cdd-88f1-446c5c6eb4f4-4.svg#web") format("svg");
	font-style:normal;
	font-weight:normal;
}

.wt-big-figgins-italic {font-family:BigFiggins;font-weight:normal; font-style:italic; line-height:normal;}
.wt-postoni-display-regular {font-family:PostoniDisplay;font-weight:normal; font-style:normal; line-height:normal;}
.wt-franklin {font-family:FranklinITCProThin;font-weight:normal; font-style:normal; line-height:normal;}
.wt-franklin-itc-pro-bold {font-family:FranklinITCProBold;font-weight:normal; font-style:normal; line-height:normal;}
.wt-franklin-itc-pro-light {font-family: FranklinITCProLight;font-weight:normal; font-style:normal; line-height:normal;}
.wt-franklin-itc-pro-thin {font-family: FranklinITCProThin;font-weight:normal; font-style:normal; line-height:normal;}
.wt-postoni-bold {font-family:Postoni;font-weight:bold; font-style:normal; line-height:normal;}
.wt-postoni-display-regular {font-family:PostoniDisplay;font-weight:normal; font-style:normal; line-height:normal;}
.wt-postoni-display-regular-italic,.wt-postoni-display-regular-italic em,.wt-postoni-display-regular-italic i {font-family:PostoniDisplay;font-weight:normal; font-style:italic; line-height:normal;}
.wt-postoni-titling {font-family:PostoniTitling;font-weight:normal; font-style:normal; line-height:normal;}

/*FONTS END*/



/*DEBUG: Overriding some bugs in BS3*/
/*like https://github.com/twbs/bootstrap/issues/9862?source=cc */
@media (min-width: 768px) {
	.row { margin-right: 0; margin-left: 0; }
}

.containerfix {
   max-width: 100%;
   padding-right: 5%;
   padding-left: 5%;
 }
 
 .containerfix2 {
   max-width: 100%;
   padding-right: 4%;
   padding-left: 4%;
 }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}
/*DEBUG END*/

/*BS3 overrides & Jumbotron overrides*/
  
.header  
{
    border-style: none;
}

.header h3
{
    padding-bottom: 10px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus
{
     background-color: #777777;
}

.nav-pills > li > a {
  border-radius: 0px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 7px 10px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: none;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: none;
	font-weight: normal;
	color: #212121;
}

/*End of Manual BS3 overrides*/


/*Main CSS Block start*/

body, a, h1, h2, h3, h4, h5, p, hr, select, input {
	font-family: FranklinITCProThin, Helvetica, Arial, sans-serif;
	font-weight:normal; font-style:normal; line-height:normal;
	margin: 0;
	color: #777777;
}

.ui-widget {
	font-family: FranklinITCProThin, Helvetica, Arial, sans-serif;
	font-weight:normal; font-style:normal; line-height:normal;
}

a {
	color: #428bca;
}

  a:hover {
    text-decoration: underline important;
  }
  
  a:visited {
    text-decoration: underline important;
  }

.box
  {
    border-style: solid;
    border-width: 1px;
  }
  
.bigfont
  {
   font-size: xx-large; 
  }
  
.biggerfont
  {
   font-size: 120%; 
  }
  
.smallerfont
  {
   font-size: 70%; 
  }

.white {
  color: white;
}

.gray {
  color: #777777;
}

.margintop {
  margin-top: 30px;
}