/*
 *  JOMC586 Final Project: API Integration
 *  In Decline: Major Technology Events Across the Globe Go Online
 *  Nick Shchetko
*/
/*CSS START*/

/*FONTS START*/

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

/*FONTS END*/

/*DEBUG START: Overriding some bugs in BS3*/
/*like https://github.com/twbs/bootstrap/issues/9862?source=cc */
@media (min-width: 768px) {
	.row { margin-right: 0; margin-left: 0; }
}

.containerfix {
   max-width: 100%;
   padding-right: 5%;
   padding-left: 5%;
 }
 
 .containerfix2 {
   max-width: 100%;
   padding-right: 4%;
   padding-left: 4%;
 }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}
/*DEBUG END*/

/*Main CSS START*/

body, a, h1, h2, h3, h4, h5, p, hr, select, input {
	font-family: 'Droid Sans', sans-serif;
	font-weight:normal;
	font-style:normal;
	line-height:normal;
	margin: 0;
	color: #777777;
}

a {
	color: #428bca;
}

  a:hover {
    text-decoration: underline important;
  }
  
  a:visited {
    text-decoration: underline important;
  }
  
  #map-canvas { height: 500px; width: 500px; }

/*Main CSS END*/
/*CSS END*/